body.bg-morning {
    /* background-image: url("../pic/bg-morning.png"); */
    background-color: rgb(237, 255, 223);
}

body.bg-afternoon {
    /* background-image: url("../pic/bg-afternoon.png"); */
    background-color: rgb(247, 225, 117);
}

body.bg-evening {
    /* background-image: url("../pic/bg-evening.png"); */
    background-color: rgb(247, 150, 117);
}

body.bg-night {
    /* background-image: url("../pic/bg-night.png"); */
    background-color: rgb(104, 119, 142);
}

body.bg-midnight {
    /* background-image: url("../pic/bg-midnight.png"); */
    background-color: rgb(58, 61, 66);
}

.acki-scene,
#weatherEvents,
.edge-tab,
.edge-top,
.content {
    max-width: 100%;
}